* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 18px;
  background-color: #f5f5f6;
}

.App {
  margin-top: 100px;
  margin-down: 100px;
  display: grid;
  width: 100%;
  justify-items: center;
  background-color: yellow;
}

.principal-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttons-k{
  display: grid;
  grid-template-columns: repeat(2,auto);
  background-color: aqua;
  row-gap: 0px;
}
