:root{
    --white:#ffffff;
    --black:#000000;
    --shadow:#00000017;
    --sm: 16px;
    --md: 24px;
    --lg: 32px;
}

.card-container{
    width: 1170px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--white);
    box-shadow: 0 3px 123px 1px var(--shadow);
    margin: 20px auto 20px auto;
}

.card-image{
    width: 300px;
    height: 300px;
}

.card-content{
    padding: 40px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.icons{
    display: flex;
    flex-direction: row;
    background-color: var(--white);
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
}

.icons img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 4px;
}

.card-title{
    font-size: var(--lg);
    margin-bottom: 16px;
}

.card-date .card-place{
    font-size: var(--sm);
}

.card-description{
    font-size: var(--sm);
    text-align: justify;
    margin-top: 24px;
}