:root{
    --orange:#FF872C;
    --white:#DCDCE5;
    --sm: 24px;
}

button{
    width: 300px;
    height: 80px;
    font-family: Roboto,sans-serif;
    border-radius: 5px;
    cursor: pointer;
    margin: 15px;
    font-size: 24px;
    background-color: #FF872C;
}

button:hover{
    background-color: #DCDCE5;
    color: #FF872C;
}

.button-click{
    width: 120px;
    height: 120px;
    margin: none;
}