:root{
    --lg: 160px;
    --gray: #DCDCE5;
    --orange: #ff872c;

}

.contator{
    min-width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--gray);
    color: var(--orange);
    font-size: var(--lg);
    padding: 5px;

}