body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    margin: 20px;
}

h1{
    color: #333;
}

p{
    color: #666;
}

button{
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}

.enviar{
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 15px;
    background-color: green;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    color: white;
    border: 0px;
}